<%- include('partials/header') %>
    <div class='kBackground'>
        <div class="text-center kBrandText">
            <h1 class="kHeading kHeadingStyles">Mariposa</h1>
            <hr>    
            <h2 class="kSubheading">Saloon and Motel</h2>
            <br>
            <div class="text-center">
                <a href="/add" class="kSubheading custom-btn btn-15" style="text-decoration: none;"><i class="fas fa-comments-dollar"></i> Book a room for $10/- a night</a>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>