<%- include('partials/header') %>

    <div class="kLoginBackground">
        <div class="container" style="padding: 15px;">
            <div class="form-row">
                <div class="form-group col-lg-5 border rounded" style="padding: 20px; background-color: rgba(255, 255, 255, 0.7); margin: 0 auto;">
                    <div class="text-center">
                        <h1 class="kHeading kHeadingStyles" style="font-size: 40px;">Register</h1>
                    </div>
                    <hr>
                    <form method="POST" action="/register">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="username" type="email" required class="form-control" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" required class="form-control">
                            <small id="emailHelp" class="form-text text-muted">We suggest you to use a combination of alphabets, numbers and symbols.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" required class="form-control">
                            <small id="emailHelp" class="form-text text-muted">Make sure the passwords match.</small>
                        </div>
                        <div class="form-group">
                            <div class="form-check text-center">
                                
                                <div class="popup" id="popup-1">
                                    <div class="overlay"></div>
                                    <div class="content">
                                        <div class="close-btn" onclick="togglePopup()">&times;</div>
                                        <br>
                                        <h1 class="kSubheading">Terms and Conditions</h1>
                                        <p>
                                            Only Mariposa admin are allowed to register.
                                        </p>
                                    </div>
                                </div>

                                <style>
                                    .popup .overlay {
                                        position:fixed;
                                        top:0px;
                                        left:0px;
                                        width:100vw;
                                        height:100vh;
                                        background:rgba(0,0,0,0.7);
                                        z-index:1;
                                        display:none;
                                    }

                                    .popup .content {
                                        position:absolute;
                                        top:50%;
                                        left:50%;
                                        transform:translate(-50%,-50%) scale(0);
                                        background:#fff;
                                        width: 100%;
                                        height:250px;
                                        z-index:2;
                                        text-align:center;
                                        padding:20px;
                                        box-sizing:border-box;
                                        font-family:"Open Sans",sans-serif;
                                    }

                                    .popup .close-btn {
                                        cursor:pointer;
                                        position:absolute;
                                        right:20px;
                                        top:20px;
                                        width:30px;
                                        height:30px;
                                        background:#222;
                                        color:#fff;
                                        font-size:25px;
                                        font-weight:600;
                                        line-height:30px;
                                        text-align:center;
                                        border-radius:50%;
                                    }

                                    .popup.active .overlay {
                                        display:block;
                                    }

                                    .popup.active .content {
                                        transition:all 300ms ease-in-out;
                                        transform:translate(-50%,-50%) scale(1);
                                    }

                                </style>

                                
                                
                                <input class="form-check-input" required type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    I agree to the <span style="text-decoration: none; cursor: pointer;" onclick="togglePopup()" href="">Terms and Conditions</span>
                                </label>

                                <script>
                                    function togglePopup(){
                                        document.getElementById("popup-1").classList.toggle("active");
                                    }
                                </script>

                            </div>
                        </div>  

                        <div class="text-center">
                            <button type="submit" class="kSubheading custom-btn btn-15" style="color: black;"><i class="fas fa-hat-cowboy-side"></i> Register</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

<%- include('partials/footer') %>